<tr>
	<td width="75%">{{ item.item }}</td>
	<td width="10%"><button class="btn btn-sm btn-warning" type="button"><a href="{{ url('edit_item', {'id' : item.id}, false) }}"> Edit </a></button></td>
	<td width="15%"><button class="btn btn-sm btn-warning" type="button"><a href="{{ url('remove_item', {'id' : item.id}, false) }}"> Remove </a></button></td>
</tr>