{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">

		<div class="starter-template">
			<div class="col-md-8">
				<h1>Todo</h1>
			</div>

			<div class="col-md-8">
				{{ form_start(form) }}
				<div>
					{{ form_label(form.item) }} {{ form_widget(form.item, {'attr': {'placeholder': 'New ToDo'}}) }}
				</div>
				<div>
					{{ form_label(form.dueDate) }} {{ form_widget(form.dueDate) }}
				</div>
				<div class="formbuttons">
					{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
					{{ form_widget(form.cancel, {'attr': {'class': 'btn btn-primary'}}) }}
				</div>
				{% if message %}
				<div id="errormessage" class="alert alert-danger" role="alert">
					<strong>{{ message }}</strong>
				</div>
				{% endif %}
				<div>
					{{ form_errors(form.item) }}
					{{ form_errors(form.dueDate) }}
				</div>
				{{ form_end(form) }}
			</div>

			<div class="col-md-8">
				<h2>Tasks:</h2>
				<table class="table table-striped">
					<tbody>
						{% for item in items %}
							{{ include('sf2todo/listitem.html.twig') }}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div><!-- /.container -->

{% endblock %}

{% block stylesheets %}
<style>
	.btn a {
		color: #fff;
	}
	.formbuttons {
		margin-top: 20px;
		margin-bottom: 20px;
	}
</style>
{% endblock %}
